<h1>Add new city</h1>

<form action="/addcity" method="post">
  <div class="input-field ">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Name City</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="location" name="location" type="text" class="validate" required>
    <label for="location">Location</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="numberOfResidents" name="numberOfResidents" type="text" class="validate" required>
    <label for="numberOfResidents">Number Of Residents</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="square" name="square" type="text" class="validate" required>
    <label for="square">Square</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="yearOfFoundation" name="yearOfFoundation" type="number" class="validate" required>
    <label for="yearOfFoundation">Year Of Foundation</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="image" type="text" name="image" class="validate" required>
    <label for="image">Url Image</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"> </span>
  </div>
  <button class="btn btn-primary">Add city</button>
</form>